p{
    text-align: center;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black ;
    margin-bottom: 10px;
    font-size: 25px;
}

.box{
  border: 1px solid green;
  text-align: center;

  
}
.info{
  text-align: center;
  border: 2px solid aqua;
  margin-bottom: 15px;
  background-color: chartreuse;
}
.info p{
  font-size: 20px;
}


.boton_v1{
	width: 100px;
	height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 5px;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;

  /*-webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent; */
}


.boton_v1:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.boton_v1:focus {
	outline: none;
}

.badge_btn{
  width: auto;
  height: 15px;
  /*border: 1px solid red; */
  margin-top: -15px;
  display: block;
}
.number_btn{
  /*border: 1px solid yellow;*/
  display: block;
}
.btn_cont{
  width: auto;
  height: auto;

  /*border: 1px solid green; */
}

.circle_red{
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;

}
.circle_green{
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.circle_yellow{
  height: 10px;
  width: 10px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}
