
body{
    background-color: #e6e5e3;
}
h1{
    font-family: 'Cinzel';
    display: inline;
}
.chart{
    border: 1px solid green;
    width: 300px;
    height: 300px ;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.box-chart{
    display: flexbox; 
}
.box-general{
    display: block;
    text-align: center;
}
.box-estadisticas{
    display: block;
}
.box-pendientes{
    display: block;
}
.box-flujo-diario{
  display: block;
}


.boton_v1{
	width: 100px;
	height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
  background:  linear-gradient(to top, #00ff00 0%, #99ff33 100%);
	letter-spacing: 5px;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
 

  /*background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent; */
}


.boton_v1:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.boton_v1:focus {
	outline: none;
}


.modal h4{
    font-size: 13px;
  }
.modal h3{
    font-size: 15px;
  }
.modal-footer{
    justify-content: space-between;
  }
.modal-footer{
  justify-content: space-between;
}

/* HISTORIAL */
.tab_h {
  border: 1px solid black;
}
.th_h{
  border: 1px solid black;
}
.td_h {
  border: 1px solid black;
}
.ver_cambio {
  font-family: 'Times New Roman', Times, serif ;
  width: 100%;
  font-size: 15px;
  background-color: #00000000;
}
.ver_cambio:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
#table_info1 th, td{
  text-align: center;
}
#table_info1 td{
  border-bottom: 1px solid black;
}
  

.badge_box{
  width: auto;
  height: 15px;
  /*border: 1px solid red; */
  margin-top: -15px;
  display: block;
}
.number_btn{
  /*border: 1px solid yellow;*/
  display: block;
}
.btn_cont{
  width: auto;
  height: auto;

  /*border: 1px solid green; */
}
.myinput{
    width: 40px;
  }
.circle_credito{
  height: 11px;
  width: 11px;
  background: linear-gradient(to bottom, #ff0000 0%, #333300 100%);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;

}
.circle_orden{  
  height: 11px;
  width: 11px;
  background: linear-gradient(to bottom, #00ff00 0%, #003300 100%);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.circle_guia{
  height: 11px;
  width: 11px;
  background: linear-gradient(to bottom, #ffff00 0%, #996600 100%);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.circle_doc{
  height: 11px;
  width: 11px;
  background: linear-gradient(to bottom, #0000ff 0%, #000066  100%);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.circle_brown{
  height: 11px;
  width: 11px;
  background: linear-gradient(to bottom, #ff9933  0%, #ff0066   100%);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton2:active {
	position:relative;
	top:1px;
}

/* v2.2.1 FLUJO DIARIO 
#body_panel_2{
  border: 2px solid red;
}*/
.flujo-box-retirados-boletas{
  border: 1px solid green;
}
.flujo-box-retirados-facturas{
  border: 1px solid red;
}
.flujo-box-retirados-guias{
  border: 1px solid aqua;
}

#flujo-retirado{
  width: 50%;
}

.btn-flujo{
  border: 1px solid black;
  width: 75px;
	height: 40px;
  margin: 5px 5px ;
	cursor: pointer;
	font-size: 15px;
  background:  linear-gradient(to top, #00ff00 0%, #99ff33 100%);
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 2px;
}
.box-parametros-atrasados{
  justify-content: center;
}

.bol-despacho-atrasado{
  border: 1px solid red;
}
.fact-despacho-atrasado{
  border: 1px solid purple;
}
.guia-despacho-atrasado{
  border: 1px solid yellow;
}
