<div class="row">
    <script>
        var lista_bol_adj  = []
        var lista_fact_adj = []

        var lista_bol_vinc = []
        var lista_fact_vinc = []

        var bol_historial = []
        var fact_historial = []

        var completo_color = 'linear-gradient(to bottom, #ff0000 0%, #ff6600 100%)'
        var incompleto_color = 'linear-gradient(to bottom, #ffff00 0%, #ffff66 100%)'

    </script>
    <div class="col col-sm-4">
        <p>BOLETAS <span class="badge badge-pill badge-primary">{{boletas|length}}</span></p>
        <div class="box">
            {% if boletas %}
            
            {% for item in boletas %}
            <button class="boton_v1" id = "btn_{{item[4]}}" onclick='ver_bol_fact({{item[0]}},"BOLETA",{{item[4]}},{{item[3]}},"{{item[1]}}","{{item[9]}}","{{item[11]|safe}}")'>
                <div class="btn_cont" ><span class="number_btn" id="btn_span_{{item[4]}}">{{ item[4] }}
                    <!-- SE ANALIZA EL ESTADO ACTUAL DEL DOCUMENTO (NO RETIRADO, INCOMPLETO O COMPLETO) -->
                    {% if item[8] %}
                        {% if item[8] == "COMPLETO" %}
                        <script>
                            document.getElementById("btn_{{item[4]}}").style.background = completo_color
                        </script>
                        {% elif item[8] == "INCOMPLETO" %}
                        <script>
                            document.getElementById("btn_{{item[4]}}").style.background = incompleto_color
                        </script>
                        {% endif %}
                    {% else %}
                    <script>
                        //console.log("NO RETIRADO")
                    </script>
                    {% endif%}
                </span>
                <!-- SE ANALIZA LOS VINCULOS ASOCIADOS -->
                    <div class="badge_box" id="{{item[4]}}">
                    </div>
                    {% if item[6] != None  %}
                    
                        {% set vinculos = item[6]|safe %}
                       
                        <script>
                            vinc = {{vinculos}}
                            //console.log(vinc)
                            bol_vinc = []
                            bol_vinc.push({{item[4]}})
                            bol_vinc.push(vinc)
                            lista_bol_vinc.push(bol_vinc)
                            if(vinc.ordenes){
                                //console.log('BOLETA: vinculo de orden de trabajo')
                                $('#{{item[4]}}').append("<span class='circle_orden'></span>")
                                /*for(i = 0; i< vinc.ordenes.length ; i ++){
                                    console.log(vinc.ordenes[i].tipo + ' - ' + vinc.ordenes[i].folio)
                                }*/
                            }
                            if(vinc.guias){
                                //console.log("BOLETA: vinculo guia encontrado")
                                $('#{{item[4]}}').append("<span class='circle_guia'></span>")
                            }
                            if(vinc.creditos){
                                //console.log("BOLETA: vinculo credito encontrado")                                      
                                $('#{{item[4]}}').append("<span class='circle_credito'></span>")
                            }

                            //document.getElementById("btn_span_{{item[4]}}").style.marginTop = "-10px";  
                        </script>
                        
                    {% endif %}
                </div>
            </button>
            <!-- SE ANALIZA LOS DOCUMENTOS ADJUNTOS -->
                    {% if item[7] != None %}
                    {% set adjuntos = item[7]|safe %}
                    
                    <script>
                        adj = [ {{item[4]}},{{adjuntos}}]
                        lista_bol_adj.push(adj)
                    </script>
                    {% else %}
                    <script>
                        adj = [{{item[4]}} , null ]
                        lista_bol_adj.push(adj)
                    </script>
                    {% endif %}

            <!-- SE ANALIZA SI ES DESPACHO A DOMICILIO -->
            {% if item[10] != None %}
            <script>
                desp = "{{ item[10]|safe }}"
                if(desp == "SI"){
                    $('#{{item[4]}}').append("<span class='circle_brown'></span>")
                }
            </script>
            {% endif %}
            <!-- SE ANALIZA EL HISTORIAL -->
            {% if item[12] != None %}
            {% set aux_historial = item[12]|safe %}
            <script>
                x_historial = {{aux_historial}}
                
                referencia = [{{item[4]}} , x_historial]
                bol_historial.push(referencia)
                //console.log(referencia)

            </script>
            {% endif %}
                
            {% endfor %}
            {% else %}
            <p>No se encontraron boletas para la fecha actual</p>
            {% endif %}
        </div>
        <!-- 
        <div>
            <h2>Pendientes <span class="badge badge-info"> 50</span></h2>
            <button class="btn btn-secondary" onclick="ver_bol_pendientes()">Ver</button>
            <div class="box_pendientes" id="bol_pendientes" style="display: none;">
                <button>190202</button>
                <button>190202</button>
                <button>190202</button>
                <button>190202</button>
            </div>
            <script>
                function ver_bol_pendientes(){
                    var x = document.getElementById("bol_pendientes")
                    if (x.style.display === "none") {
                        x.style.display = "inline-block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
        </div>
    -->
           
             
    </div>
    <div class="col col-sm-4">
        <P>FACTURAS <span class="badge badge-pill badge-primary">{{facturas|length}}</span></p>
        <div class="box">
            {% if facturas %}
            {% for item in facturas %}
            
            <button class="boton_v1" id="btn_{{item[2]}}" onclick= 'ver_bol_fact({{item[0]}},"FACTURA",{{item[2]}},{{item[3]}},"{{item[1]}}","{{item[9]}}","{{item[11]|safe}}")'>
                <div class="btn_cont">
                    <span class="number_btn">{{ item[2] }}
                        <!-- SE ANALIZA EL ESTADO ACTUAL DEL DOCUMENTO (NO RETIRADO, INCOMPLETO O COMPLETO) -->
                        {% if item[8] %}
                                {% if item[8] == "COMPLETO" %}
                                <script>
                                    document.getElementById("btn_{{item[2]}}").style.background = completo_color
                                </script>
                                {% elif item[8] == "INCOMPLETO" %}
                                <script>
                                    document.getElementById("btn_{{item[2]}}").style.background = incompleto_color
                                </script>
                                {% endif %}
                        {% else %}
                            <script>
                                //console.log("NO RETIRADO")
                            </script>
                        {% endif%}
                    </span>
                </div>
                <!-- SE ANALIZA LOS VINCULOS ASOCIADOS -->
                <div class="badge_box" id="{{item[2]}}">
                </div>

                {% if item[6] != None %}
                {% set vinculos = item[6]|safe %}
                
                <script>
                    vinc = {{ vinculos }}
                    //console.log(vinc)
                    fact_vinc = []
                    fact_vinc.push({{item[2]}})
                    fact_vinc.push(vinc)
                    lista_fact_vinc.push(fact_vinc)
                    if (vinc.ordenes) {
                        //console.log('FACTURA: vinculo de orden de trabajo')
                        $('#{{item[2]}}').append("<span class='circle_orden'></span>")
                        /*for(i = 0; i< vinc.ordenes.length ; i ++){
                            console.log(vinc.ordenes[i].tipo + ' - ' + vinc.ordenes[i].folio)
                        }*/
                    }
                    if (vinc.guias) {
                        //console.log("FACTURA: vinculo guia encontrado")
                        $('#{{item[2]}}').append("<span class='circle_guia'></span>")
                    }
                    if (vinc.creditos) {
                        //console.log("FACTURA: vinculo credito encontrado")
                        $('#{{item[2]}}').append("<span class='circle_credito'></span>")
                    }
                </script>
                {% endif%}
                <!-- SE ANALIZA LOS DOCUMENTOS ADJUNTOS -->
                {% if item[7] != None %}
                    {% set adjuntos2 = item[7]|safe %}
                    
                    <script>
                        //console.log("FACT: ADJ encontrado")
                        adj = [ {{item[2]}},{{adjuntos2}}]
                        lista_fact_adj.push(adj)
                    </script>
                {% else %}
                <script>
                    //console.log("{{item[7]}}")
                    adj = [{{item[2]}} , null ]
                    lista_fact_adj.push(adj)
                </script>
                {% endif %}

                <!-- SE ANALIZA SI ES DESPACHO A DOMICILIO -->
                {% if item[10] != None %}
                <div class="badge_box" id="{{item[0]}}">
                </div>
                <script>
                    desp = "{{ item[10]|safe }}"
                    if(desp == "SI"){
                        $('#{{item[2]}}').append("<span class='circle_brown'></span>")
                    }
                </script>
                {% endif %}
                <!-- SE ANALIZA EL HISTORIAL -->
                {% if item[12] != None %}
                {% set aux_historial = item[12]|safe %}
                <script>
                    x_historial = {{aux_historial}}
                    
                    referencia = [{{item[2]}} , x_historial]
                    fact_historial.push(referencia)
                    //console.log(referencia)

                </script>
                {% endif %}
                
            </button>
            {% endfor %}

            {% else %}
            <p>No se encontraron Facturas para la fecha actual</p>
            {% endif %}
        </div> 
    </div>
    <div class="col col-sm-4">
        <p>GUÍAS <span class="badge badge-pill badge-primary">{{guias|length}}</span></p>
        <div class="box">
            {% if guias != () %}
                                                               
                    {% for item in guias %}                                 
                        <button class="boton_v1" id="btn_{{item[0]}}" onclick= 'ver_guia({{item[1]}},"GUIA",{{item[0]}},{{item[3]}},{{item[2]|safe}})' >
                        <div class="btn_cont">
                            <span class="number_btn">{{ item[0] }}
                                <!-- SE ANALIZA EL ESTADO ACTUAL DEL DOCUMENTO (NO RETIRADO, INCOMPLETO O COMPLETO) -->
                                {% if item[4] %}
                                    {% if item[4] == '"COMPLETO"' %}
                                    <script>
                                        //console.log("completo")
                                        document.getElementById("btn_{{item[0]}}").style.background = completo_color
                                    </script>
                                    {% elif item[4] == '"INCOMPLETO"' %}
                                    <script>
                                        console.log("incompleto")
                                        document.getElementById("btn_{{item[0]}}").style.background = incompleto_color                                     
                                    </script>
                                    {% endif %}
                                {% else %}
                                    <script>
                                        console.log("NO RETIRADO")
                                        //console.log("{{item[4]}}")
                                    </script>
                                {% endif%}
                            </span>                   
                        </div>
                    <!-- SE ANALIZA LOS VINCULOS ASOCIADOS: implementado al visualizar el modal -->
                    <div class="badge_box" id="{{item[0]}}">
                    </div>
                    {% if item[5] != None %}
                    {% set vinculos = item[5]|safe %}
                    
                    <script>
                        vinc = {{ vinculos }}
                        
                        if (vinc.ordenes) {
                            //console.log('GUIA: vinculo de orden de trabajo')
                            $('#{{item[0]}}').append("<span class='circle_orden'></span>")
                            /*for(i = 0; i< vinc.ordenes.length ; i ++){
                                console.log(vinc.ordenes[i].tipo + ' - ' + vinc.ordenes[i].folio)
                            }*/
                        }
                    </script>
                    {% endif %}
                    
                    {% if item[6] != None %}
                    <script>
                        vinc = {{ item[6]|safe }}
                        //console.log(vinc)
                        if (vinc == "BOLETA" || vinc == 'FACTURA') {
                            $('#{{item[0]}}').append("<span class='circle_doc'></span>")
                        }
                    </script>
                    {% endif %}

                    <!-- SE ANALIZA SI ES DESPACHO A DOMICILIO -->
                    {% if item[7] != None %}
                    <script>
                        desp = "{{ item[7]|safe }}"
                        if(desp == "SI"){
                            $('#{{item[0]}}').append("<span class='circle_brown'></span>")
                        }
                    </script>
                    {% endif %}

                    <!-- SE ANALIZA LOS DOCUMENTOS ADJUNTOS: implementado al visualizar el modal -->
                    </button> 
                    {% endfor %}
            {% else %}
                <p>No se encontraron Guias para la fecha actual</p>               
            {% endif %}
        </div> 
    </div>            
</div>