{% extends 'base.html' %}

{% block encabezado %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_clasico.css') }}">
{% endblock %}

{% block contenido %}
<p>Panel clasico del "07-05-2021"</p>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm">
            <p>BOLETAS</p>

            <table class="table">
                <tbody>
                  <tr>
                      {% if boletas %}
                        {% for item in boletas %}
                            <td>
                                <button class="noselect">
                                <div class="btn_cont"><span class="number_btn">{{ item[0] }}</span>
                                <span class="badge_btn">                      
                                <span class="circle_red"></span><span class="circle_green"></span><span class="circle_yellow"></span>
                                </span>
                                </div>
                                </button>
                            </td>
                        {% endfor %}
                    {% endif %}

                  </tr>
                  
                </tbody>
              </table>
        </div>
        <div class="col-sm">
            <P>FACTURAS</P>
        </div>
        <div class="col-sm">
            <p>GUÍAS</p>
        </div>
    </div>
    

</div>
{% endblock %}