{% extends 'base.html' %}

{% block encabezado %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_clasico.css') }}">
{% endblock %}

{% block contenido %}
    <p>Panel clasico del {{fecha}}</p>
    <div class="box_superior">
        <div class="busqueda">
    
            <input type="date" id="fecha_docs" name="fecha" value="{{fecha}}">
            <button class="btn btn-primary" onclick=buscar_fecha()>Buscar</button><br>
    
        </div>
        <div class="simbologia">
            <p style="font-size: 15px;">Simbologia:
                - Rojo: asociada a orden.
                - amarilla: asociada a nota credito.
                - verde: asociada a guia.
            </p>
        </div>
    </div>
    
    <div class="info">
        
    </div>
   
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_info">
        Launch demo modal<i class="fas fa-check-circle"></i>
    </button>
      

    <!-- The Modal -->
    <div class="modal" id="modal_info">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="info">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-sm-4" style="border: 2px solid red;">
                <p>BOLETAS</p>
                <div class="box">
                    {% if boletas %}
                    
                    {% for item in boletas %}
                    <button class="boton_v1" onclick='ver_bol_fact({{item[0]}},"BOLETA",{{item[5]}},{{item[3]}},"{{item[1]}}")'>
                        <div class="btn_cont"><span class="number_btn">{{ item[5] }}</span>
                            {% if item[7] != None  %}
                                {% set vinculos = item[7]|safe %}
                                <div class="badge_box" id="{{item[5]}}">
                                </div>
                                <script>
                                    vinc = {{vinculos}}
                                    console.log(vinc)
                                    if(vinc.ordenes){
                                        console.log('BOLETA: vinculo de orden de trabajo')
                                        $('#{{item[5]}}').append("<span class='circle_red'></span>")
                                        /*for(i = 0; i< vinc.ordenes.length ; i ++){
                                            console.log(vinc.ordenes[i].tipo + ' - ' + vinc.ordenes[i].folio)
                                        }*/
                                    }
                                    if(vinc.guias){
                                        console.log("BOLETA: vinculo guia encontrado")
                                        $('#{{item[5]}}').append("<span class='circle_yellow'></span>")
                                    }
                                    if(vinc.creditos){
                                        console.log("BOLETA: vinculo credito encontrado")                                      
                                        $('#{{item[5]}}').append("<span class='circle_green'></span>")
                                    }
                                </script>
                            {% endif%}
                        </div>
                    </button>
                    {% endfor %}
                    {% else %}
                    <p>No se encontraron boletas para la fecha actual</p>
                    {% endif %}
                </div>  
                   
                     
            </div>
            <div class="col col-sm-4">
                <P>FACTURAS</P>
                <div class="box">
                    {% if facturas %}
                    {% for item in facturas %}
                    <button class="boton_v1" onclick= 'ver_bol_fact({{item[0]}},"FACTURA",{{item[2]}},{{item[3]}},{{item[1]}})'>
                        <div class="btn_cont"><span class="number_btn">{{ item[2] }}</span>
                        </div>
                        {% if item[7] != None %}
                        {% set vinculos = item[7]|safe %}
                        <div class="badge_box" id="{{item[2]}}">
                        </div>
                        <script>
                            vinc = {{ vinculos }}
                            console.log(vinc)
                            if (vinc.ordenes) {
                                console.log('FACTURA: vinculo de orden de trabajo')
                                $('#{{item[2]}}').append("<span class='circle_red'></span>")
                                /*for(i = 0; i< vinc.ordenes.length ; i ++){
                                    console.log(vinc.ordenes[i].tipo + ' - ' + vinc.ordenes[i].folio)
                                }*/
                            }
                            if (vinc.guias) {
                                console.log("FACTURA: vinculo guia encontrado")
                                $('#{{item[2]}}').append("<span class='circle_yellow'></span>")
                            }
                            if (vinc.creditos) {
                                console.log("FACTURA: vinculo credito encontrado")
                                $('#{{item[2]}}').append("<span class='circle_green'></span>")
                            }
                        </script>
                        {% endif%}
                    </button>
                    {% endfor %}
                    {% else %}
                    <p>No se encontraron Facturas para la fecha actual</p>
                    {% endif %}
                </div> 
            </div>
            <div class="col col-sm-4">
                <p>GUÍAS</p>
                <div class="box">
                    {% if guias != () %}                                                    
                            {% for item in guias %}                                 
                                    <button class="boton_v1" onclick= ver_guia({{item[1]}})>
                                    <div class="btn_cont"><span class="number_btn">{{ item[0] }}</span>                   
                                    </div>
                                    </button>                               
                            {% endfor %}
                    {% else %}
                        <p>No se encontraron Guias para la fecha actual</p>               
                    {% endif %}
                </div> 
            </div>            
        </div>
    </div>

    <script>
        
        
        function ver_bol_fact(interno,tipo_doc,folio,monto_total,vendedor){ 
            $('.modal-header').empty()
            $('.modal-body').empty()          
            $('.modal-footer').empty()
            
            $.ajax({
                url: "/obt_detalle_bol_fact/" + interno,
                type: "POST",
                success: function(resp){
                    console.log(resp)
                    a = '<div class="row"><div class="col col-sm"><table class="table" id="table_info1"><thead><td>'
                    b = 'DESCRIPCIÓN</td><td>CANTIDAD</td><td>CANTIDAD RETIRADA</td></thead></table></div></div>'

                    c = '<div class="text-center">Documentos Adjuntos<div class="list-group" id= "lista_adjuntos"></div>'
                    
                    d ='<div class="input-group"><div class="custom-file"><input type="file" accept="image/*" class="custom-file-input"'
                    e='id="archivo" required><label class="custom-file-label" for="nombre_archivo">'
                    f ='Elegir o Tomar Foto</label></div><div class="input-group-append"><button class="btn btn-outline-secondary" type="button"'
                    g ='onclick = adjuntar('+folio+','+'"'+ tipo_doc +'"'+') >Adjuntar</button></div></div>'

                    $('.modal-body').append(a + b + c + d + e+ f +g)

                    for( i = 0 ; i < resp.length ; i++ ){
                        console.log(resp[i][2])
                        $('#table_info1').append('<tr><td>'+ resp[i][0] +'</td><td>'+ resp[i][1]+'</td><td><button type="button" class="btn btn-light">+</button>  '+ resp[i][2] +'  <button type="button" class="btn btn-light">-</button></td></tr>'  )
                    }
                    i = '<h4>Vendedor: '+ vendedor + '</h4>'
                    j = '<button class="btn btn-secondary" onclick="alert(15)" >Guardar Cambios</button>'
                    
                    $('.modal-footer').append(i + j)
        
                }
            })
            $('.modal-header').append('<h4 class="modal-title">'+  tipo_doc +': ' + folio+'  |  Total: $' +monto_total+'</h4><button type="button" class="close" data-dismiss="modal">&times;</button>')
            $('#modal_info').modal('show')// SE MUESTRA EL MODAL
        }
        function adjuntar(folio,tipo_doc){
            console.log("adjuntando archivo")
            nombre = document.getElementById('archivo').files[0].name;
            console.log(nombre)
            console.log(folio)
            console.log(tipo_doc)

            

            var fd = new FormData();
            var files = $('#archivo')[0].files;
            
            // Check file selected or not
            if(files.length > 0 ){
                fd.append('file',files[0]);
    
                $.ajax({
                    url: '/subir/'+ folio.toString()+ '/'+ tipo_doc,
                    type: 'post',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function(response){
                        if(response != 0){
                        console.log("archivo recibido correctamente")
                        console.log(response)
                        $('#lista_adjuntos').append('<button type="button" class="list-group-item list-group-item-action">' + response.toString()+'<i class="fas fa-check-circle"></i></button>')
                        }else{
                        alert('archivo no subido');
                        }
                    },
                });
            }else{
                alert("Please select a file.");
            }
           
            
            
        }
        function ver_guia(interno){
            $.ajax({
                url: "/obt_detalle_guia/" + interno,
                type: "POST",
                success: function(resp){
                    $('.info').empty()
                    console.log(resp)
                    descripciones = JSON.parse(resp[0][0])

                    console.log(typeof(descripciones))
                    console.log(descripciones)
                    
        
                    $('.info').append("<p>Información:</p>")
                    for( i = 0 ; i < descripciones.length ; i++ ){
                        //console.log(resp[0][i])
                        $('.info').append("<p>Producto: "+ descripciones[i] + " </p>")
                    }
                    $('.info').append("<button class='btn btn-secondary'>Gestionar</button>")
                     
                    

                }
            })
        }

        function buscar_fecha(){
            nueva_fecha = $("#fecha_docs").val()
            console.log(nueva_fecha)
            /*window.location.href = "{{ url_for('panel_clasico') }}" + '/' + nueva_fecha */
            window.location.href = "{{url_for('panel_clasico')}}" + "/" + nueva_fecha 
           
        }
    </script>

{% endblock %}