{% extends "base.html" %}


{% block encabezado %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/informes.css') }}">
<script src="{{ url_for('static', filename='scripts/panel_clasico.js') }}"></script>

{% endblock %}

{% block contenido %}
{% if tipo_usuario %}
<script>
  tipo_usuario = '{{tipo_usuario}}'
</script>
{% endif %}

<div class="box-general">
  <div class="box-estadisticas">
    <h1>Estadisticas </h1><button class="btn btn-secondary" onclick="ver_estadisticas()">Ver</button>
    <div id="estadisticas" style="display: none;">
      <button class="btn btn-secondary" onclick="actualizar_grafico()">Actualizar</button>
      <div class="box-chart">
        <div class="chart">
          <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        <div class="chart">
          <canvas id="myChart2" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- V2.3 FLUJO DIARIO -->
  <div class="box-flujo-diario">
    <h1>FLUJO DIARIO </h1><button class="btn btn-secondary" onclick="ver_flujo()">Ver</button>
    <div id="flujo-diario" style="display: none;">
      <div class="box-fecha">
        <label for="fecha1">Desde:</label>
        <input class="input-fecha" type="date" value="{{fecha1}}" id="flujo-fecha-1" disabled>
        <label for="fecha2">Hasta:</label>
        <input class="input-fecha" type="date" value="{{fecha2}}" id="flujo-fecha-2">
        <button class="btn btn-secondary" onclick="visualizar_flujo()">Visualizar Flujo</button>
      </div>

      <div id="mensaje-2">
      </div>

      <div class="container" id="body_panel_2">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" id="flujo-tipo-documento">Doc</th>
              <th scope="col" id="flujo-retirado">Retirado</th>
              <th scope="col" id="flujo-pendiente">Pendiente</th>
              <th scope="col" id="flujo-pendiente-domicilio">Pendiente a domicilio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Boletas</th>
              <!-- Boletas retiradas-->
              <td>
                <div class="flujo-box-retirados-boletas">
                </div>
              </td>
              <!-- Boletas pendientes-->
              <td>
                <div class="flujo-box-pendientes-boletas">
                </div>
              </td>
              <!-- Boletas pendientes a domicilio-->
              <td>
                <div class="flujo-box-pendientes-domicilio-boletas">
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">Facturas</th>
              <!-- Facturas retiradas-->
              <td>
                <div class="flujo-box-retirados-facturas">
                </div>
              </td>
              <!-- Facturas pendientes-->
              <td>
                <div class="flujo-box-pendientes-facturas">
                </div>
              </td>
              <!-- Facturas pendientes a domicilio-->
              <td>
                <div class="flujo-box-pendientes-domicilio-facturas">
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Guias</th>
              <!-- Guias retiradas-->
              <td>
                <div class="flujo-box-retirados-guias">
                </div>
              </td>
              <!-- Guias pendientes-->
              <td>
                <div class="flujo-box-pendientes-guias">
                </div>
              </td>
              <!-- Guias pendientes a domicilio-->
              <td>
                <div class="flujo-box-pendientes-domicilio-guias">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!--
        <div class="row">

          <div class="col col-sm-6" style="border: 1px solid blue;">
            <p>RETIRADOS</p>
            <div class="flujo-box-retirados">
              <div class="flujo-box-retirados-boletas">
                <button class="btn-flujo">190000</button><button class="btn-flujo">190000</button>
              </div>

              <div class="flujo-box-retirados-facturas">
                <button class="btn-flujo">2200011</button><button class="btn-flujo">2988311</button>
              </div>

              <div class="flujo-box-retirados-guias">
                <button class="btn-flujo">11111</button><button class="btn-flujo">22222</button><button class="btn-flujo">33333</button>
              </div>
            </div>

          </div>
          <div class="col col-sm-3" style="border: 1px solid green;">
            <p>PENDIENTES</p>
            <div class="flujo-box-pendientes">
              <button class="btn-flujo">2200011</button><button class="btn-flujo">2988311</button>
            </div>
          </div>
          <div class="col col-sm-3" style="border: 1px solid yellow;">
            <p>PENDIENTE A DOMICILIO</p>
            <div class="flujo-box-domicilios">
              <button class="btn-flujo">2200011</button><button class="btn-flujo">2988311</button>
            </div>
          </div>
        </div>
      -->
      </div>

    </div>
  </div>

  <div class="box-pendientes">
    <h1>Lista Pendientes </h1><button class="btn btn-secondary" onclick="ver_pendientes()">Ver</button>

    <div id="pendientes" style="display: none;">
      <div class="box-fecha">
        <label for="fecha1">Desde:</label>
        <input class="input-fecha" type="date" value="{{fecha1}}" id="fecha1">
        <label for="fecha2">Hasta:</label>
        <input class="input-fecha" type="date" value="{{fecha2}}" id="fecha2">
        <button class="btn btn-secondary" onclick="visualizar_pendientes()">Visualizar</button>
      </div>

      <div id="mensaje">
      </div>

      <div class="container" id="body_panel">
      </div>

    </div>

    <!-- The Modal -->
    <div class="modal" id="modal_info">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="info">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="box-pendientes">
    <h1>Despacho domicilio Atrasados. </h1><button class="btn btn-secondary"
      onclick="ver_despachos_atrasados()">Ver</button>

    <div id="domicilio-atrasado" style="display: block;">

      <div class="box-parametros-atrasados">
        <div class="row">
          <div class="col">
            <p>Minima cantidad de Dias de atraso</p>
            <input type="number" id="rango1" min="1" value="3">
            <label for="fecha1">Dias</label>

          </div>
          <div class="col">
            <p>Maxima cantidad de Dias de atraso</p>
            <input type="number" id="rango2" min="0" value="0">
            <label for="fecha2">Dias</label>
          </div>

          <div class="col">
            <button class="btn btn-secondary" onclick="visualizar_despachos_atrasados()">Visualizar</button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Doc</th>
              <th scope="col" id="tb-despacho-nombre-columna"></th>
            </tr>

          </thead>
          <tbody>
            <tr>
              <th scope="row">Boletas <span class="badge badge-pill badge-primary" id="bol_atraso_2">-s</span></th>
              <td>
                <div class="bol-despacho-atrasado"></div>
              </td>
            </tr>

            <tr>
              <th scope="row">Facturas <span class="badge badge-pill badge-primary" id="fact_atraso_2">-</span></th>
              <td>
                <div class="fact-despacho-atrasado"></div>
              </td>

            </tr>

            <tr>
              <th scope="row">Guias <span class="badge badge-pill badge-primary" id="guia_atraso_2">-</span></th>
              <td>
                <div class="guia-despacho-atrasado"></div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>



  <script>
    var ventas = [0, 0, 0]
    var guias = [0, 0, 0]
    var respuesta = null
  </script>

  <script>
    var ctx = document.getElementById('myChart');
    var ctx2 = document.getElementById('myChart2');
    let lista = []

    for (let i = 0; i < ventas.length; i++) {
      suma = ventas[i] + guias[i]
      lista.push(suma)
    }
    console.log(lista)
    const data = {
      labels: [
        'NO RETIRADO',
        'PARCIALIZADO',
        'RETIRADO'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: lista,
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(75, 192, 192)',
          'rgb(255, 205, 86)'
        ]
      }]
    };

    var chart = new Chart(ctx, {
      data: data,
      type: 'polarArea'
    });
    var chart2 = new Chart(ctx2, {
      data: data,
      type: 'pie'
    });

  </script>

  <script>

    function addData(chart, data, datasetIndex) {
      console.log('nuevos datos...')
      chart.data.datasets[datasetIndex].data = data;
      chart.update();
    }



    function actualizar_grafico() {
      console.log('ejecutando 1 vez')
      $.ajax({
        url: '/estadisticas/generales',
        type: 'post',
        success: function (resp) {
          console.log(resp)
          if (resp.estado) {
            lista = []
            for (let i = 0; i < resp.ventas.length; i++) {
              suma = resp.ventas[i] + resp.guias[i]
              lista.push(suma)
            }
            console.log(lista)
            addData(chart, lista, 0)
            addData(chart2, lista, 0)
          }
          else {
            console.log('error')
          }
          // do something with the return value here if you like
        }
      });

    }
    window.onload = actualizar_grafico()

    function visualizar_pendientes() {
      inicio = $('#fecha1').val()
      fin = $('#fecha2').val()
      console.log('Buscando pendientes: ' + inicio.toString() + ' - hasta: ' + fin)

      url = '/estadisticas/pendientes/' + inicio + '/' + fin
      $('#body_panel').load(url);
    }

    function ver_estadisticas() {
      var x = document.getElementById("estadisticas")
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    function ver_pendientes() {
      var x = document.getElementById("pendientes")
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    function ver_flujo() {
      var x = document.getElementById("flujo-diario")
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    function ver_despachos_atrasados() {
      var x = document.getElementById("domicilio-atrasado")
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    function visualizar_flujo() {
      fin = $('#flujo-fecha-2').val()
      console.log('visualizzando flujo fecha: ' + fin)

      $.ajax({
        url: "/estadisticas/flujo-diario/" + fin + "/" + fin,
        type: "GET",
        contentType: "application/json; charset=utf-8",
        success: function (resp) {
          console.log(resp)
          if (resp.guias.length > 0) {
            console.log('Existen guias')
          }
          else { console.log('No existen guias') }

          if (resp.ventas.length > 0) {
            console.log('Existen ventas')
          } else { console.log('No existen ventas') }
          cargar_body_flujo(resp.ventas, resp.guias)

        }
      })
    }
    function cargar_body_flujo(ventas, guias) {
      $('.flujo-box-retirados-guias').empty()
      $('.flujo-box-pendientes-domicilio-guias').empty()
      $('.flujo-box-pendientes-guias').empty()
      $('.flujo-box-retirados-boletas').empty()
      $('.flujo-box-pendientes-domicilio-boletas').empty()
      $('.flujo-box-pendientes-boletas').empty()
      $('.flujo-box-retirados-facturas').empty()
      $('.flujo-box-pendientes-domicilio-facturas').empty()
      $('.flujo-box-pendientes-facturas').empty()
      var completo_color = 'linear-gradient(to bottom, #ff0000 0%, #ff6600 100%)'
      var incompleto_color = 'linear-gradient(to bottom, #ffff00 0%, #ffff66 100%)'

      // cargando guias
      for (let i = 0; i < guias.length; i++) {
        item = guias[i]
        detalle = JSON.parse(item[2])
        if (detalle.estado_retiro == 'COMPLETO') { //RETIRADO
          $('.flujo-box-retirados-guias').append('<button class="btn-flujo" id="btn-flujo-' + item[0].toString() + '">' + (item[0]).toString() + '</button>')
          $("#btn-flujo-" + item[0].toString()).attr('style', 'background: ' + completo_color)
        }
        else if (detalle.estado_retiro == 'INCOMPLETO' || detalle.estado_retiro == 'NO RETIRADO') {
          if (item[7] == 'SI') { //PENDIENTE A DOMICILIO
            $('.flujo-box-pendientes-domicilio-guias').append('<button class="btn-flujo" id="btn-flujo-' + item[0].toString() + '">' + (item[0]).toString() + '</button>')
          }
          else { //PENDIENTE 
            $('.flujo-box-pendientes-guias').append('<button class="btn-flujo" id="btn-flujo-' + item[0].toString() + '">' + (item[0]).toString() + '</button>')
          }
          if (detalle.estado_retiro == 'INCOMPLETO') {
            $("#btn-flujo-" + item[0].toString()).attr('style', 'background: ' + incompleto_color)
          }
        }
      }
      // cargando ventas
      for (let j = 0; j < ventas.length; j++) {
        vitem = ventas[j]
        if (vitem[2] == 0) {
          if (vitem[9] == 'COMPLETO') { // BOLETA RETIRADA
            $('.flujo-box-retirados-boletas').append('<button class="btn-flujo" id="btn-flujo-' + vitem[5].toString() + '">' + (vitem[5]).toString() + '</button>')
            $("#btn-flujo-" + vitem[5].toString()).attr('style', 'background: ' + completo_color)
          } else if (vitem[9] == 'INCOMPLETO' || vitem[9] == 'NO RETIRADO') {

            if (vitem[11] == 'SI') { //BOLETA PENDIENTE DOMICILIO
              $('.flujo-box-pendientes-domicilio-boletas').append('<button class="btn-flujo" id="btn-flujo-' + vitem[5].toString() + '">' + (vitem[5]).toString() + '</button>')
            }
            else { //BOLETA PENDIENTE
              $('.flujo-box-pendientes-boletas').append('<button class="btn-flujo" id="btn-flujo-' + vitem[5].toString() + '">' + (vitem[5]).toString() + '</button>')
            }
            if (vitem[9] == 'INCOMPLETO') {
              $("#btn-flujo-" + vitem[5].toString()).attr('style', 'background: ' + incompleto_color)
            }
          }
        }
        else if (vitem[5] == 0) {
          if (vitem[9] == 'COMPLETO') { // FACTURA RETIRADA
            $('.flujo-box-retirados-facturas').append('<button class="btn-flujo" id="btn-flujo-' + vitem[2].toString() + '">' + (vitem[2]).toString() + '</button>')
            $("#btn-flujo-" + vitem[2].toString()).attr('style', 'background: ' + completo_color)
          } else if (vitem[9] == 'INCOMPLETO' || vitem[9] == 'NO RETIRADO') {
            if (vitem[11] == 'SI') { //FACTURA PENDIENTE DOMICILIO
              $('.flujo-box-pendientes-domicilio-facturas').append('<button class="btn-flujo" id="btn-flujo-' + vitem[2].toString() + '">' + (vitem[2]).toString() + '</button>')
            }
            else { //FACTURA PENDIENTE
              $('.flujo-box-pendientes-facturas').append('<button class="btn-flujo" id="btn-flujo-' + vitem[2].toString() + '">' + (vitem[2]).toString() + '</button>')
            }
            if (vitem[9] == 'INCOMPLETO') {
              $("#btn-flujo-" + vitem[2].toString()).attr('style', 'background: ' + incompleto_color)
            }

          }
        }
      }
    }
    function cargar_body(x_fecha) {
      console.log('documento actualizado')

      visualizar_pendientes()
    }
    function visualizar_despachos_atrasados() {
      console.log('---------- viendo despachos atrasados ------')

      let rango1 = parseInt($('#rango1').val())
      let rango2 = parseInt($('#rango2').val())
      $('#tb-despacho-nombre-columna').empty()

      console.log('rango 1: ', rango1, typeof (rango1))
      console.log('rango 2: ', rango2)

      if (rango1 >= 1 && rango2 >= 0) {
        console.log('RANGOS CORRECTOS', rango2)
        let titulo = ''
        if (rango2 > 0) {
          titulo = 'Entre: ' + rango1.toString() + ' y ' + rango2.toString() + ' Días de Atraso'
        }
        else {
          titulo = 'Entre: ' + rango1.toString() + ' o más Días de Atraso'
        }
        $('#tb-despacho-nombre-columna').append(titulo)

        const str = '15/05/2021'
        const [day, month, year] = str.split('/');
        const fecha = new Date();
        //console.log('FECHA ACTUAL:',fecha.toLocaleDateString())

        url = "{{url_for('main_bp.despachos_atrasados')}}"
        $.post(url, function (resp) {
          console.log('**** ahi respuesta ******')
          $('.bol-despacho-atrasado').empty()
          $('.fact-despacho-atrasado').empty()
          $('.guia-despacho-atrasado').empty()
          //console.log(resp)
          let ventas = resp.ventas
          let guias = resp.guias
          //console.log('VENTAS: ', ventas)
          //console.log('GUIAS: ', guias)
          var count_bol = 0
          var count_fact = 0
          // ANALIZANDO VENTAS ( BOLETAS - FACTURAS )
          for (let i = 0; i < ventas.length; i++) {
            item = ventas[i]
            fecha2 = new Date(item[4])

            dif_dias = restar_fechas(fecha, fecha2)

            //console.log('Diferencias de dias: ', dif_dias, typeof (dif_dias))
            nro_bol = item[5]
            nro_factura = item[2]

            if (rango2 == 0) {
              if (dif_dias >= rango1) {
                console.log('CUMPLE RANGO1')

                if (nro_bol == 0) {
                  let txt = '<a href="/documentos/facturas/' + nro_factura.toString() + '" ><button class="btn-flujo">' + nro_factura.toString() + '</button></a>'
                  $('.fact-despacho-atrasado').append(txt)
                  count_fact = count_fact + 1
                }
                else if (nro_factura == 0) {
                  let txt = '<a href="/documentos/boletas/' + nro_bol.toString() + '" ><button class="btn-flujo">' + nro_bol.toString() + '</button></a>'
                  $('.bol-despacho-atrasado').append(txt)
                  count_bol = count_bol + 1
                }
              }
            }
            else {
              if (rango2 >= dif_dias && dif_dias >= rango1) {
                console.log('CUMPLE AMBOS RANGO')

                if (nro_bol == 0) {
                  let txt = '<a href="/documentos/facturas/' + nro_factura.toString() + '" ><button class="btn-flujo">' + nro_factura.toString() + '</button></a>'
                  $('.fact-despacho-atrasado').append(txt)
                  count_fact = count_fact + 1
                }
                else if (nro_factura == 0) {
                  let txt = '<a href="/documentos/boletas/' + nro_bol.toString() + '" ><button class="btn-flujo">' + nro_bol.toString() + '</button></a>'
                  $('.bol-despacho-atrasado').append(txt)
                  count_bol++
                }
              }
            }
          }
          console.log('atraso len bol:', count_bol)
          console.log('atraso len fact:', count_fact)
          // ANALIZANDO GUIAS 
          console.log('**** ANALIZANDO GUIAS ****')
          for (let i = 0; i < guias.length; i++) {
            item = guias[i]
            //console.log(item)
            fecha2 = new Date(item[4])

            dif_dias = restar_fechas(fecha, fecha2)
            count = 0
            //console.log('Diferencias de dias: ', dif_dias, typeof (dif_dias))
            if (rango2 == 0) {
              if (dif_dias >= rango1) {
                console.log('GUIA CUMPLE RANGO1')
                txt = '<a href="/documentos/guias/' + item[0].toString() + '" ><button class="btn-flujo" >' + item[0].toString() + '</button></a>'
                $('.guia-despacho-atrasado').append(txt)
                count++
              }
            }
            else {
              if (rango2 >= dif_dias && dif_dias >= rango1) {
                console.log('CUMPLE RANGO1 y rango2')
                txt = '<a href="/documentos/guias/' + item[0].toString() + '" ><button class="btn-flujo" >' + item[0].toString() + '</button></a>'
                $('.guia-despacho-atrasado').append(txt)
                count++
              }
            }
            /*nro_bol = item[5]
            nro_factura = item[2]*/
          }
          console.log('atraso len_guias:', count)
          $("#bol_atraso_2").text(count_bol);
          $("#fact_atraso_2").text(count_fact);
          $("#guia_atraso_2").text(count);

        })
      }





    }
    function restar_fechas(date1, date2) {
      const diffTime = Math.abs(date2 - date1);
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
      //console.log(diffTime + " milliseconds");
      //console.log(diffDays + " days");
      return diffDays
    }
    function obtener_fecha(fecha) {
      let date = new Date(fecha)

      let day = date.getDate()
      let month = date.getMonth() + 1
      let year = date.getFullYear()

      if (month < 10) {
        return `${day}-0${month}-${year}`
      } else {
        return `${day}-${month}-${year}`
      }
    }

  </script>
  {% endblock %}